*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
#wrapper,body{
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    /* font-family: sans-serif; */
}
.card{
    border: 1.6px solid black;
}
.card:hover{
    border: 3px solid black ;
    transform: scale(.97);
    transition:all 300ms ease-out;
}
.image{
    /* object-fit: cover; */
    /* margin-left: -150px; */
    transform: scaleY(1.1) scaleX(1.1);
}
.hr{
    height: 5px;
    color: black;
}